.main-content {
  min-height: 95%;
}

.hidden { 
  display: none !important;
}

.hit-list-button {
  float: right; 
  margin-bottom: 0; 
  margin-top: 2em;
}

footer {
  padding: 20;
  background-color: #363636;
  color: white;
}